html {
  border: 1px solid black;
  margin: 6px;
  padding: 6px;
  background: white;
  color:black;
}

body {
  border: 1px solid red;
  margin: 6px;
  padding: 6px;
  background: white;
  color: black;
}

footer {
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  background: #99FFb7;
  color: black;
  text-align: center;
}
